
<div class="page-body">
	
	<div class="form-row1">

		<div class="col4">
			<div class="item-box">
				<div class="item-title">button</div>
				<div class="item-con">
					<div class="row small">
						<div class="key">style-01:</div>
						<div class="val cib">							
							<a class='btn bd blue'>blue</a>
							<a class='btn bd green'>green</a>
							<a class='btn bd yellow'>yellow</a>
							<a class='btn bd' disabled="disabled">disable</a>
						</div>
					</div>
					<div class="row small">
						<div class="key">style-02:</div>
						<div class="val cib">							
							<a class='btn bg blue'>blue</a>
							<a class='btn bg green'>green</a>
							<a class='btn bg yellow'>yellow</a>
							<a class='btn bg' disabled="disabled">disable</a>
						</div>
					</div>
					<div class="row small">
						<div class="key">animation:</div>
						<div class="val cib">
							<a class='btn bd blue am am-rotate'><span>rotate</span></a>
							<a class='btn bd green am am-scale'><span>scale</span></a>
							<a class='btn bd blue am am-border'><span>border</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col4">
			<div class="item-box">
				<div class="item-title">check && switch</div>
				<div class="item-con">
					<div class="row small">
						<div class="key">checkbox:</div>
						<div class="val">
							<div class="checkbox-group" id="check-demo1"></div>
						</div>
					</div>
					<div class="row small">
						<div class="key">radio:</div>
						<div class="val">
							<div class="radio-group" id="radio-demo1"></div>
						</div>
					</div>
					<div class="row small">
						<div class="key">switch</div>
						<div class="val cib"><div class="switch on"><span class="s1">on</span><span class="s2">off</span></div></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col4">
			<div class="item-box">
				<div class="item-title">select</div>
				<div class="item-con">
					<div class="row small">
						<div class="key">select:</div>
						<div class="val"><div class="select" id="select-demo1"></div></div>
					</div>
					<div class="row small">
						<div class="key">sel-search:</div>
						<div class="val"><div class="select" id="select-search"></div></div>
					</div>
					<div class="row small">
						<div class="key">date:</div>
						<div class="val"><div class="date-sel"><input type="text"></div></div>
					</div>
					<div class="row small">
						<div class="key">date area:</div>
						<div class="val"><div class="date-sel"><input type="text"></div></div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="form-row2">
		
		<div class="col4">
			<div class="item-box">
				<div class="item-title">input</div>
				<div class="item-con">
					<div class="row small">
						<div class="key">default:</div>
						<div class="val"><input type="text" value="default"></div>
					</div>
					<div class="row small">
						<div class="key">readonly:</div>
						<div class="val"><input type="text" readonly="reanonly" value='readonly'></div>
					</div>
					<div class="row small">
						<div class="key">disabled:</div>
						<div class="val"><input type="text" disabled="disabled" value='disable'></div>
					</div>
					<div class="row small">
						<div class="key">inputarea:</div>
						<div class="val">
							<div class="input-area">
								<div class="ia1 col4"><input type="text" value="leojs"></div>
								<div class="ia2 col8"><input type="text" value="15021127325"></div>
							</div>
						</div>
					</div>
					<div class="row small">
						<div class="key">inputtag1:</div>
						<div class="val"><div class="input-tag before"><span class="itag">Phone</span><input type="text"></div></div>
					</div>
					<div class="row small">
						<div class="key">inputtag2:</div>
						<div class="val"><div class="input-tag after"><span class="itag">Phone</span><input type="text"></div></div>
					</div>
					<div class="row small">
						<div class="key">textarea:</div>
						<div class="val"><textarea></textarea></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col8">
			<div class="item-box">
				<div class="item-title">form</div>
				<div class="item-con">
					<div class="row"><div class="key">account:</div><div class="val"><input type="text"></div></div>
					<div class="row"><div class="key">user name:</div><div class="val"><input type="text"></div></div>
					<div class="row">
						<div class="col6">
							<div class="key">dept:</div>
							<div class="val">
								<div class="select" id="select-dept"></div>
							</div>
						</div>
						<div class="col6">
							<div class="key">post:</div>
							<div class="val">
								<div class="select" id="select-post"></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col6">
							<div class="key">start date:</div>
							<div class="val"><div class="date-sel"><input type="text"></div></div>
						</div>
						<div class="col6">
							<div class="key">end date:</div>
							<div class="val"><div class="date-sel"><input type="text"></div></div>
						</div>
					</div>

					<div class="row">
						<div class="col6">
							<div class="key">user sex:</div>
							<div class="val">
								<div class="radio-group" id="man-raido"></div>
							</div>
						</div>
						<div class="col6">
							<div class="key">user tgas:</div>
							<div class="val check-row">
								<div class="checkbox-group" id="check-tags"></div>
							</div>
						</div>
					</div>

					<div class="row"><div class="key">evaluation:</div><div class="val"><textarea ></textarea></div></div>
				</div>
			</div>
		</div>

	</div>

</div>


